body {
    background-color: #1e1e2e;
    color: #9eb3dc;
    font-size: 20px;
    font-family: sans-serif;
    word-wrap: normal;
    text-align: center;
}
h1 {
    font-size: 70px;
    color: palevioletred;
    margin-bottom: 0px;
}
a{
    text-decoration: none;
    margin: 20px;
}
a:visited{
    color: gray;
}
a:hover, a:focus {
    font-weight: bold;
    color: green;
}
a:active {
    
}
.final {
    background-color: blueviolet;
}
.intro {
    
    background-color: bisque;
    /* padding: 50px 70px;
    margin: 20px 50px; */
    width: 400px;
    float: left;
}
.middle {
    background-color: #c3f4ff;
    /* padding: 50px 70px;
    margin: 20px 50px; */
    width: 400px;
    float: right;
}
.middle p {
    color: black;
}
.list1 {
    list-style-position: inside;
    list-style-type:decimal;
    background: hotpink;
    padding: 20px;
    color: black;
}
.list1 li {
    background-color: rgb(57, 196, 217);
    margin-bottom: 10px;
}
.linkbox {
    background-color: #9eb3dc;
    clear: both;
}
.linkbox a {
    color: black;
}
.wrapper {
    width: 70%;
    margin: 0 auto;
    max-width: 1000px;
}