body {
    background-color: #1e1e2e;
    color: #9eb3dc;
    font-size: 24;
    font-family: sans-serif;
    word-wrap: normal;
    width: 60%;
    text-align: center;

}
h1 {
    font-size: 50px;
    color: palevioletred;
    margin-bottom: 0px;
}
a {
    color: chartreuse;
}
.final {
    background-color: blueviolet;
}
.intro {
    font-size: xx-large;
}
/* box model! */
.box {
    margin: auto;
    padding: 40px;
    border:#dc8f44 5px solid;
    width: 300px;
    background-color: #e5e5f7;
    background-image:  linear-gradient(30deg, #9095f1 12%, transparent 12.5%, transparent 87%, #9095f1 87.5%, #9095f1), linear-gradient(150deg, #9095f1 12%, transparent 12.5%, transparent 87%, #9095f1 87.5%, #9095f1), linear-gradient(30deg, #9095f1 12%, transparent 12.5%, transparent 87%, #9095f1 87.5%, #9095f1), linear-gradient(150deg, #9095f1 12%, transparent 12.5%, transparent 87%, #9095f1 87.5%, #9095f1), linear-gradient(60deg, #9095f177 25%, transparent 25.5%, transparent 75%, #9095f177 75%, #9095f177), linear-gradient(60deg, #9095f177 25%, transparent 25.5%, transparent 75%, #9095f177 75%, #9095f177);
    background-size: 64px 112px;
    background-position: 0 0, 0 0, 32px 56px, 32px 56px, 0 0, 32px 56px;
}
.text {
    background-color: #1e1e2e;
    opacity: 70%;
}
.gohome {
    margin-top: 0px;
}
p {
    width: 50%;
}